<h1>New Company</h1>

<%= form_with scope: :company, url: companies_path, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :mission %><br>
    <%= form.text_area :mission %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', companies_path %>
